@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

html body {
  width: 100vw;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
}

#__next {
  padding: 20px;
  overflow-x: clip;
  margin: 0 auto;
}
